@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --primary-color: #1a1a1a;
  --secondary-color: #9f9f9f;
  --mark-color: #4de29c;
  --title-color: #FFF;
}

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

mark {
  background-color: transparent;
  border-bottom: 4px solid var(--mark-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title { 
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  transition: 400ms linear;
}

/* Tema escuro */

body.dark .background{
  background-color: var(--primary-color);
}

body.dark .border-color {
  border-bottom: 1px solid var(--secondary-color);
}

body.dark .title {
  color: var(--title-color);
}

body.dark a {
  color: var(--title-color);
}

body.dark .text-content {
  color: var(--secondary-color);
}

/* Tema claro */

body.light .background{
  background-color: rgb(209, 209, 209);
}

body.light .border-color {
  border-bottom: 1px solid var(--primary-color);
}

body.light .title {
  color: var(--primary-color);
}

body.light a {
  color: var(--primary-color);
}

body.light .text-content {
  color: var(--primary-color);
}

/* Hover */

.hover-size:hover{
  font-size: 30px;
}

.hover-color:hover {
  color: var(--mark-color);
  border-color: transparent;
}

.icon-container
.hover-color:hover{
  color: var(--mark-color);
}

.courses
.hover-color:hover{
  color: var(--mark-color);
}

.form-contact-container
form .row-form
.hover-color:hover {
  color: var(--mark-color);
  border-bottom-color: transparent;
}

/* Cabecalho */

header,
footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

main section{
  width: 100%;
  padding: 0 25px;;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-container,
.courses-container,
.technology-container,
.projects-container,
.form-contact-container{
  max-width: 950px;
  width: 100%;
}

.header-content,
.footer-content{
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.social-nav ul {
  display: flex;
  align-content: center;
  gap: 25px;
}

.social-nav ul li{
  display: flex;
  align-items: center;
}
.social-nav ul li a i{
  font-size: 26px;
  transition: .4s ease;
}

/* Switcher */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--mark-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--mark-color);
}

input:checked + .slider:before {
  transform: translateX(22px);
}


/* Corpo */


.title-container {
  display: flex;

}

.title-container 
.title-content {
  width: 55%;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title-container 
.title-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.title-container 
.title-content p {
  padding-right: 100px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.title-container 
.title-content p:nth-child(4){
  margin-bottom: 40px;
}

.btn {
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-bottom: .4em;
  border-bottom: 2px solid var(--mark-color);
  transition: .4s ease;
}

.courses-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-container h2{
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.courses-container
.courses-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.courses-container
.courses-content
.courses summary{
  cursor: pointer;
  transition: .4s ease;
}

.courses-container
.courses-content
.courses p, ul{
  margin: 15px ;
  font-size: .9em;
}

.courses-container
.courses-content
.courses ul {
  gap: 20px;
  padding-left: 15px;
}

.courses-container
.courses-content
.courses ul li{
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.technology-container {
  flex-direction: column;
  align-items: center;
}

.technology-container p {
  text-align: center;
  margin: 20px 0;
}

.technology-container 
.list-technology {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.technology-container 
.list-technology ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.technology-container 
.list-technology ul li .technology img {
  width: 80px;
  transition: .4s ease;
}

.projects-container {
  flex-direction: column;
  margin-bottom: 50px;
}

.projects-container 
.projects-title-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.projects-container 
.projects-title-content h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.projects-container 
.container-cards-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.projects-container 
.container-cards-projects 
.card-project {
  min-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: .4s ease-in-out;
}

.projects-container 
.container-cards-projects 
.card-project 
.container-project-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.projects-container 
.container-cards-projects 
.card-project 
.container-project-img img{
  width: 100%;
  border-radius: 10px;
  
}

.projects-container 
.container-cards-projects 
.card-project h3 {
  font-size: 1.5em;
}

.projects-container 
.container-cards-projects 
.card-project p {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-contact-container h3{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.form-contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-contact-container form .row-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-contact-container form .row-form label {
  max-width: 100px;
  width: 100%;
}

.form-contact-container form .row-form input, textarea {
  flex-grow: 1;
}

.form-contact-container form .row-form:nth-child(4){
  justify-content: flex-end;
}

.form-contact-container form .row-form .btn-submit {
  cursor: pointer;
  text-align: center;
  max-width: 500px;
  background-color: transparent;
  color: var(--title-color);
  border-color: transparent;
  border-bottom-color: var(--mark-color);
}

.form-hidden{
  display: none;
}

/* Responsividade */

@media (max-width: 968px) {
  .title-container {
    justify-content: center;
  }

  .title-container 
  .title-content {
    width: 510px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .title-container 
  .title-content h1{
    font-size: 2.4em;
  }

  .title-container 
  .title-content p {
    padding: 0;
  }

  .technology-container 
  .list-technology ul {
    justify-content: center;
    gap: 70px;
  }
}

@media (max-width: 550px) {
  .title-container 
  .title-content {
    width: 100%;
  }

  .title-container 
  .title-content h1 {
    font-size: 1.6em;
  }

  .title-container 
  .title-content p{
    margin-bottom: 10px;
  }

  .courses-container
  .courses-content
  .courses ul{
    padding-left: 5px;
  }

  .courses-container
  .courses-content
  .courses ul li{
    width: 100%;
  }

  .technology-container p {
    text-align: center;
  }

  .technology-container 
  .list-technology ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .technology-container 
  .list-technology ul li .technology {
    font-size: 1.4em;
  }
  
  .technology-container 
  .list-technology ul li ul .experience {
    margin-top: 5px;
  }

  .projects-container 
  .projects-title-content h2 {
    font-size: 1.6em;
  }

  .projects-container 
  .container-cards-projects {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .projects-container 
  .container-cards-projects 
  .card-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .projects-container 
  .container-cards-projects 
  .card-project 
  .container-project-img {
    height: 550px;
  }

  .form-contact-container{
    margin: 20px 0;
  }

  .form-contact-container form .row-form:nth-child(3){
    flex-wrap: wrap;
  }

}

@media (max-width: 360px){
  .title-container 
  .title-content h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 360px){
  .title-container 
  .title-content h1 {
    font-size: 1.3em;

  }
}

/* Animações */

.typing-animation{
  border-right:  4px solid #949494d8;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  blinkCursor 1000ms infinite normal, 
  typing 4s steps(33) 1s normal both;
}


@keyframes typing{
  0% {
    width: 0;
  }
  100% { 
    width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
    border-right-color: #464646d8;
  }
  100% {
    border-right-color: transparent;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
}

