
/* Definindo variaveis */ 

:root {
  --color-primary: #3C91E6;
  --color-secondary: #1C3144;

  --color-background-light: #F7F7F7;
  --color-background-dark: #555555;

  --color-text-light: #5E5E5E;
  --color-text-dark: #E4E4E4;

  --color-title-light: #000000;
  --color-title-dark: #FFFFFF;

  --color-header-light: #F7F7F7C7;
  --color-header-dark: #555555CD;
}

/* Importando fontes */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset  */ 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  transition: 400ms linear;
}

/* Definindo classes */

.title { 
  font-weight: bold;
  color: var(--color-title);
}

.text-content {
  color: var(--color-text);
}

.background {
  background-color: var(--color-background);
}

/* Definindo temas */

body.dark {
  --color-background: var(--color-background-dark);
  --color-title: var(--color-title-dark);
  --color-text: var(--color-text-dark);
  --color-header: var(--color-header-dark);
}

body.light {
  --color-background: var(--color-background-light);
  --color-title: var(--color-title-light);
  --color-text: var(--color-text-light);
  --color-header: var(--color-header-light);
}

/* Hover */

.hover-color:hover{
  color: var(--color-primary);
}

/* Largura do conteudo */

.width-content {
  max-width: 950px;
  width: 100%;
}

/* Cabecalho */

header,
footer {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;;
}

header{
  background-color: var(--color-header);
  position: fixed;
  top: -150px;
}

.visible {
  top: 0;
}

.header-content,
.footer-content{
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.social-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-nav
.social-links {
  display: flex;
  gap: 25px;
  font-size: 26px;
}

.social-nav ul {
  display: flex;
  align-content: center;
  gap: 20px;
}

.social-nav
.link-nav {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  transition: .4s ease;
}

.social-nav ul li .link-nav::before {
  content: '[  ';
  opacity: 0;
  transition: .4s ease;
}
.social-nav ul li .link-nav::after {
  content: '  ]';
  opacity: 0;
  transition: 300ms ease;
}

/* Switcher */

.switch {
  display: inline-block;
  cursor: pointer;

}

.switch input {
  display: none;
}

.switch i{
  font-size: 26px;
}


/* Corpo */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section{
  width: 100%;
  padding: 0 25px;;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-container {
  display: flex;
  padding-top: 150px;
}

.title-container 
.title-content {
  width: 55%;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title-container 
.title-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.title-container
.title-content
h1 mark {
  color: var(--color-secondary);
  background-color: transparent;
}

.title-container 
.title-content p {
  padding-right: 100px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.title-container 
.title-content p:nth-child(4){
  margin-bottom: 40px;
}

.btn {
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-bottom: .4em;
  border-bottom: 2px solid var(--color-primary);
  transition: .4s ease;
}

.courses-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-container h2{
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.courses-container
.courses-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.courses-container
.courses-content
.courses i {
  transition: 400ms ease;
}

.courses-container
.courses-content
.courses[open]  i {
  transform: rotate(180deg);
}

.courses-container
.courses-content
.courses summary{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  transition: .4s ease;
  border: 1px solid var(--color-text-light);
  border-radius: 8px;
  padding: 10px;
  transition: 400ms ease;
}

.courses-container
.courses-content
.courses 
p.text-content {
  margin-left: 10px;
  margin-top: 10px;
}


.courses-container
.courses-content
.courses 
p.text-content 
ul.text-content{
  margin: 15px ;
  font-size: .9em;
}

.courses-container
.courses-content
.courses 
ul.text-content {
  gap: 20px;
  padding-left: 15px;
}

.courses-container
.courses-content
.courses 
ul.text-content li{
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  width: 100%;
}

.technology-container {
  flex-direction: column;
  align-items: center;
}

.technology-container p {
  text-align: center;
  margin: 20px 0;
}

.technology-container 
.list-technology {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.technology-container 
.list-technology ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.technology-container 
.list-technology ul li .technology img {
  width: 80px;
  transition: .4s ease;
}

.projects-container {
  flex-direction: column;
  margin-bottom: 50px;
}

.projects-container 
.projects-title-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.projects-container 
.projects-title-content h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.projects-container 
.container-cards-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.projects-container 
.container-cards-projects 
.card-project {
  min-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: .4s ease-in-out;
}

.projects-container 
.container-cards-projects 
.card-project 
.container-project-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.projects-container 
.container-cards-projects 
.card-project 
.container-project-img img{
  width: 100%;
  border-radius: 10px;
  
}

.projects-container 
.container-cards-projects 
.card-project h3 {
  font-size: 1.5em;
}

.projects-container 
.container-cards-projects 
.card-project p {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-contact-container h3{
  text-align: center;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 25px;
}

.form-contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-contact-container form .row-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-contact-container form .row-form label {
  max-width: 100px;
  width: 100%;
}

.form-contact-container form .row-form input, textarea {
  flex-grow: 1;
}

.form-contact-container form .row-form:nth-child(4){
  justify-content: flex-end;
}

.form-contact-container form .row-form .btn-submit {
  cursor: pointer;
  text-align: center;
  max-width: 500px;
  background-color: transparent;
  color: var(--color-title);
  border-color: transparent;
  border-bottom-color: var(--color-primary);
}

.form-hidden{
  display: none;
}

/* Responsividade */

@media (min-width: 800px) {
  /*Efeito hover apenas em midias maiores que 768px*/
  .social-nav .link-nav:hover::before,
  .social-nav .link-nav:hover::after {
  opacity: 1;
  color: var(--color-primary);
  }

}

@media (max-width: 968px) {
  .title-container {
    justify-content: center;
  }


  .title-container 
  .title-content {
    width: 510px;
    
    justify-content: center;
    align-items: center;
  }

  .title-container 
  .title-content h1{
    font-size: 2.4em;
  }

  .title-container 
  .title-content p {
    padding-right: 0 ;
  }

  .technology-container 
  .list-technology ul {
    justify-content: center;
    gap: 70px;
  }
}

@media (max-width: 550px) {
  .width-content {
    width: 100%;
  }

  header{
    padding: 20px 25px;
    height: 200px;
    top: -200px;
  }

  .header-content{
    flex-direction: column;
    gap: 30px;
  }

  .social-nav {
    flex-direction: column;
    gap: 10px;
  }

  .title-container{
    padding-top: 180px;
  }

  .title-container 
  .title-content h1 {
    font-size: 1.6em;
  }

  .title-container 
  .title-content p{
    margin-bottom: 10px;

  }

  .courses-container
  .courses-content
  .courses ul{
    padding-left: 5px;
  }

  .courses-container
  .courses-content
  .courses ul li{
    width: 100%;
  }

  .technology-container p {
    text-align: center;
  }

  .technology-container 
  .list-technology ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .technology-container 
  .list-technology ul li .technology {
    font-size: 1.4em;
  }
  
  .technology-container 
  .list-technology ul li ul .experience {
    margin-top: 5px;
  }

  .projects-container 
  .projects-title-content h2 {
    font-size: 1.6em;
  }

  .projects-container 
  .container-cards-projects {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .projects-container 
  .container-cards-projects 
  .card-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .projects-container 
  .container-cards-projects 
  .card-project 
  .container-project-img {
    height: 550px;
  }

  .form-contact-container{
    margin: 20px 0;
  }

  .form-contact-container form .row-form:nth-child(3){
    flex-wrap: wrap;
  }

}

@media (max-width: 360px){
  .title-container 
  .title-content h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 360px){
  .title-container 
  .title-content h1 {
    font-size: 1.3em;

  }
}

/* Animações */

.typing-animation{
  border-right:  4px solid #949494d8;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  blinkCursor 1000ms infinite normal, 
  typing 4s steps(33) 1s normal both;
}


@keyframes typing{
  0% {
    width: 0;
  }
  100% { 
    width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
    border-right-color: var(--color-title);
  }
  100% {
    border-right-color: transparent;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-text);
}

