



header,
footer {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;;
}

header{
  background-color: var(--color-header);
  position: fixed;
  top: -150px;
}

.visible {
  top: 0;
}

.header-content,
.footer-content{
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.icon-container {
  display: flex;
  gap: 5px;
}

.icon-container img {
  width: 50px;
  
}

.social-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-nav
.social-links {
  display: flex;
  gap: 25px;
  font-size: 26px;
}

.social-nav ul {
  display: flex;
  align-content: center;
  gap: 20px;
}

.social-nav
.link-nav {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  transition: .4s ease;
}

.social-nav ul li .link-nav::before {
  content:  '';
  border: 2px solid transparent;
  transition: .4s ease;
}
.social-nav ul li .link-nav::after {
  content:  '';
  border: 2px solid transparent;
  transition: .4s ease;
}


/* Switcher */

.switch {
  display: inline-block;
  cursor: pointer;

}

.switch input {
  display: none;
}

.switch i{
  font-size: 26px;
}

/* Contact form */

.color-form {
  color: #FFF;
}

.contact-container {
  position: fixed;
  top: 0;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-contact-container {
  background-color: rgba(0, 0, 0, 0.534);
  padding: 30px;

}

.row-form-title {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 5px;
}

.row-form-title i{
  justify-self: flex-end;
  font-size: 1.5em;
  margin-right: 30px;
  cursor: pointer;
}

.form-contact-container h3{
  justify-self: flex-end;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 25px;
}

.form-contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-contact-container form .row-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-contact-container form .row-form label, input, textarea {
  font-size: 16px;
}

.form-contact-container form .row-form label {
  max-width: 100px;
  width: 100%;
}

.form-contact-container form .row-form input {
  height: 30px;
  
}

.form-contact-container form .row-form input, textarea {
  flex-grow: 1;
  padding: 5px;
}

.form-contact-container form .row-form input:focus, textarea:focus {
  outline: 2px solid var(--color-primary);
}

.form-contact-container form .row-form:nth-child(4){
  justify-content: flex-end;
}

.form-contact-container form .row-form .btn-submit {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  color: #FFF;
  border-color: transparent;
  border-bottom-color: var(--color-primary);
}

.form-contact-container form .row-form .btn-submit:hover {
  color: var(--color-primary);
}

.form-hidden{
  display: none;
}

@media (min-width: 800px) {
  /*Efeito hover apenas em midias maiores que 768px*/
  .social-nav .link-nav:hover::before,
  .social-nav .link-nav:hover::after {
  opacity: 1;
  color: var(--color-primary);
  }
}

@media (max-width: 705px) {
  header{
    padding: 20px 25px;
    height: 220px;
    top: -200px;
  }

  footer {
    height: 200px;
  }

  .header-content{
    flex-direction: column;
    gap: 30px;
  }

  .footer-content {
    flex-direction: column;
    gap: 10px;
  }
  footer.icon-container {
    flex-direction: column;
    order: 2;
  }

  .social-nav {
    flex-direction: column;
    gap: 25px;
  }

  .form-contact-container{
    margin: 20px 0;
  }

  .form-contact-container form .row-form:nth-child(3){
    flex-wrap: wrap;
  }

  .form-contact-container h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 430px) {
  .social-nav ul {
    gap: 10px;
  }

  a.btn {
    font-size: .9em;
  }
  .form-contact-container h3 {
    font-size: 1.2em;
  }
}