
/* Importando fontes */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Definindo variaveis */ 

:root {
  --color-primary: #fda400;
  --color-secondary: #f46703;

  --color-background-light: #F7F7F7;
  --color-background-dark: #2f2f2f;

  --color-text-light: #5E5E5E;
  --color-text-dark: #E4E4E4;

  --color-title-light: #000000;
  --color-title-dark: #FFFFFF;

  --color-header-light: #F7F7F7C7;
  --color-header-dark: #2f2f2fCD;
}

body.dark {
  --color-background: var(--color-background-dark);
  --color-title: var(--color-title-dark);
  --color-text: var(--color-text-dark);
  --color-header: var(--color-header-dark);
}

body.light {
  --color-background: var(--color-background-light);
  --color-title: var(--color-title-light);
  --color-text: var(--color-text-light);
  --color-header: var(--color-header-light);
}

/* Definindo classes */
#container {
  display: none;
  width: 100%;
}

.title { 
  font-weight: bold;
  color: var(--color-title);
}

.text-content {
  color: var(--color-text);
}

.background {
  background-color: var(--color-background);
}

/* Hover */

.hover-color:hover{
  color: var(--color-primary);
}

/* Reset  */ 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  transition: 400ms linear;
}

/* Botoes */

.btn {
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-bottom: .4em;
  border-bottom: 2px solid var(--color-primary);
  transition: .4s ease;
}

@media (max-width: 360px){
  .btn{
    font-size: .95em;
  }
}

/* Loader */



#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}